
$gray-900: #353b3f;
$gray-800: #67737a;
$gray-700: #8999a3;
$gray-600: #adb5ba;
$gray-500: #c0c9cf;
$gray-400: #e7eaec;
$gray-300: #eef0f1;
$gray-200: #f3f4f4;
$gray-100: #fafafa;
$base-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
